{% extends 'bothub/emails/base.html' %}

{% load i18n staticfiles %}

{% block before-content %}
    <div style="text-align: center; padding-top: 20px;">
        <img src="{{ base_url }}{% static 'common/emails/request.gif' %}" alt="{% trans 'New Authorization Request' %}" style="margin: auto; width: 100%; max-width: 456px; display: block;" />
        <h1 style="font-size: 1.5rem;">{% trans 'New Authorization Request' %}</h1>
    </div>
{% endblock %}

{% block main-content %}
    <p>{% blocktrans %}You receive new authorization request from <strong>{{ user_name }}</strong> to repository <strong>{{ repository_name }}</strong>.{% endblocktrans %}</p>
    <div style="padding: 16px; background-color: #EEEEEE; text-align: justify; font-size: .85rem;">{{ text }}</div>
    <div style="padding: 8px 0; text-align: right; font-size: .75rem;">{{ user_name }}</div>
{% endblock %}

{% block after-content %}
    {% if repository_url %}
        <div style="padding: 8px 0;">
            <a style="margin: auto; display: block; width: fit-content; padding: 16px; background-color: #2bbfac; color: white; text-decoration: none; border-radius: 4px;" rel="nofollow" href="{{ repository_url }}" target="_blank">Access {{ repository_name }}</a>
        </div>
    {% endif %}
{% endblock %}
