{% extends 'bothub/emails/base.html' %}

{% load i18n staticfiles %}

{% block before-content %}
<tr>
    <td align="center" style="padding-top: 20px;">
        <img src="{% static 'common/emails/request.gif' %}" alt="{% trans 'New Authorization Request' %}" width="100%" style="max-width: 456px; display: block;" />
        <h1 style="font-size: 24px;">{% trans 'New Authorization Request' %}</h1>
    </td>
</tr>
{% endblock %}

{% block main-content %}
    <p>{% blocktrans %}You receive new authorization request from <strong>{{ user_name }}</strong> to repository <strong>{{ repository_name }}</strong>.{% endblocktrans %}</p>
    <div style="padding: 16px; background-color: #EEEEEE; text-align: justify; font-size: 14px;">{{ text }}</div>
    <div style="padding: 8px 0; text-align: right; font-size: 12px;">{{ user_name }}</div>
{% endblock %}

{% block after-content %}
    {% if repository_url %}
        <tr>
            <td style="padding: 16px;">
                <p align="center"><a rel="nofollow" href="{{ repository_url }}" style="padding: 16px; background-color: #2bbfac; color: white; text-decoration: none; border-radius: 4px;">Access {{ repository_name }}</a></p>
            </td>
        </tr>
    {% endif %}
{% endblock %}
