[run]
source =
    ./bothub/api
    ./bothub/authentication
    ./bothub/common
omit =
    ./bothub/api/apps.py
    ./bothub/authentication/apps.py
    ./bothub/common/apps.py
    ./bothub/api/v2/swagger.py
    ./bothub/api/v2/tests/*
    ./bothub/api/v2/nlp/*
    ./bothub/authentication/tests.py
    ./bothub/common/tests.py
    ./bothub/common/management/commands/fll_db_using_fake_data.py
    ./bothub/common/management/commands/fix_repository_authorization.py
    ./bothub/common/management/commands/transfer_train_aws.py
    ./bothub/common/management/commands/update_repository_tests.py
    ./bothub/common/migrations/*

[report]
fail_under = 90