[run]
source =
    ./bothub/api
    ./bothub/authentication
    ./bothub/common
omit =
    ./bothub/api/apps.py
    ./bothub/authentication/apps.py
    ./bothub/common/apps.py
    ./bothub/api/tests/*
    ./bothub/authentication/tests.py
    ./bothub/common/tests.py
    ./bothub/common/management/commands/fill_db_using_fake_data.py
    ./bothub/common/migrations/*

[report]
fail_under = 90