[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.2"
dj-database-url = "*"
python-decouple = "*"
djangorestframework = "==3.7.7"
django-filter = "==2.0.0"
django-cors-headers = "*"
requests = "*"
coreapi = "*"
whitenoise = "*"
pytz = "==2018.5"

[dev-packages]
"flake8" = "*"
coverage = "*"
ipython = "*"

[requires]
python_version = "3.6"
